:root {
  --analyzer-border-radius: 0.25rem;
  --analyzer-input-height: 32px;
  --analyzer-input-height-sm: 20px;
  --analyzer-padding-sm: 0.4375rem 0.875rem;
  --analyzer-font-size: 1rem;
  --analyzer-font-size-sm: 0.875rem;
  --analyzer-text-color: #4b5563;
  --analyzer-text-color-secondary: #6b7280;
  --analyzer-primary-color: #3b82f6;
  --analyzer-primary-color-active: #2563eb;
  --analyzer-primary-color-disabled: #9dc3ff;
  --analyzer-primary-color-text: #ffffff;
  --analyzer-secondary-color: #748194;
  --analyzer-secondary-color-disabled: #949ca8;
  --analyzer-secondary-color-text: #ffffff;
  --analyzer-surface-ground: #ffffff;
  --analyzer-surface-card: #ffffff;
  --analyzer-surface-overlay: #b0b0b0;
  --analyzer-tooltip-bg: #000000;
  --analyzer-tooltip-text-color: #efefef;
  --analyzer-active-bg: #0000001c;
  --analyzer-active-text-color: #212529;
  --analyzer-disabled-bg: #9e9e9e;
  --analyzer-disabled-text-color: #adadad;
  --analyzer-hover-bg: #e1e1e1;
  --analyzer-hover-text-color: #555555;
  --analyzer-highlight-bg: #eff6ff;
  --analyzer-highlight-text-color: #24a0ed;
  --analyzer-border-color: #dedede;
  --analyzer-chip-bg: #ededed;
  --analyzer-focus-ring: none;
  --analyzer-focus-ring-color: #3b82f6;
  --analyzer-maskbg: rgba(0, 0, 0, 0.4);
  --analyzer-maskbg-12: rgba(0, 0, 0, 0.12);
  --analyzer-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --analyzer-dashboard-bg: #fafafa;
  --analyzer-panel-bg: var(--analyzer-surface-card);
  --analyzer-panel-border: 1px solid var(--analyzer-border-color);
  --analyzer-panel-border-radius: var(--analyzer-border-radius);
  --analyzer-panel-shadow: var(--analyzer-box-shadow);
  --analyzer-selector-bg: var(--analyzer-surface-ground);
  --analyzer-selector-active-bg: var(--analyzer-active-bg);
  --analyzer-selector-active-text-color: var(--analyzer-active-text-color);
  --analyzer-selector-highlight-text-color: var(--analyzer-highlight-text-color);
  --analyzer-selector-hover-bg: var(--analyzer-hover-bg);
  --analyzer-selector-border: 1px solid var(--analyzer-border-color);
  --analyzer-selector-border-radius: var(--analyzer-border-radius);
  --analyzer-selector-shadow: var(--analyzer-box-shadow);
  --analyzer-button-group-bg: var(--analyzer-chip-bg);
  --analyzer-button-group-active-bg: var(--analyzer-active-bg);
  --analyzer-button-group-active-text-color: var(--analyzer-active-text-color);
  --analyzer-button-group-hover-bg: var(--analyzer-hover-bg);
  --analyzer-button-group-disabled-bg: var(--analyzer-disabled-bg);
  --analyzer-button-group-disabled-text-color: var(--analyzer-disabled-text-color);
  --analyzer-table-header-bg: #f7f7f7;
  --analyzer-table-filter-bg: #fbfbfb;
  --analyzer-table-row-height: 45px;
  --analyzer-date-picker-height: 36px;
  --analyzer-date-picker-day-size: 32px;
  --analyzer-date-picker-font-size: var(--analyzer-font-size-sm);
  --analyzer-date-picker-bg: var(--analyzer-surface-ground);
  --analyzer-date-picker-border: var(--analyzer-border-color);
  --analyzer-date-picker-inner-border: var(--analyzer-border-color);
  --analyzer-date-picker-shadow: var(--analyzer-box-shadow);
  --analyzer-date-picker-text-color: var(--analyzer-text-color);
  --analyzer-date-picker-day-disabled-text-color: var(--analyzer-disabled-text-color);
  --analyzer-date-picker-day-selected-bg: var(--analyzer-primary-color);
  --analyzer-date-picker-day-selected-text-color: var(--analyzer-primary-color-text);
  --analyzer-date-picker-day-inrange-bg: var(--analyzer-hover-bg);
  --analyzer-date-picker-input-height: var(--analyzer-input-height-sm);
  --analyzer-date-picker-border-radius: var(--analyzer-border-radius);
  --analyzer-date-picker-btn-radius: var(--analyzer-border-radius);
  --analyzer-date-picker-btn-primary-bg: var(--analyzer-primary-color);
  --analyzer-date-picker-btn-primary-text-color: var(--analyzer-primary-color-text);
  --analyzer-date-picker-btn-primary-bg-hover: var(--analyzer-primary-color-active);
  --analyzer-date-picker-btn-primary-bg-disabled: var(--analyzer-primary-color-disabled);
  --analyzer-date-picker-btn-secondary-bg: var(--analyzer-secondary-color);
  --analyzer-date-picker-btn-secondary-text-color: var(--analyzer-secondary-color-text);
  --analyzer-date-picker-btn-secondary-bg-disabled: var(--analyzer-secondary-color-disabled);
  --analyzer-date-picker-today-text-color: var(--analyzer-primary-color);
  --analyzer-date-picker-tooltip-bg: var(--analyzer-tooltip-bg);
  --analyzer-date-picker-tooltip-text-color: var(--analyzer-tooltip-text-color);
  --analyzer-contextual-filter-border: 1px solid var(--analyzer-border-color);
  --analyzer-contextual-filter-chip-color: var(--analyzer-hover-text-color);
  --analyzer-contextual-filter-chip-bg: var(--analyzer-chip-bg);
  --analyzer-contextual-filter-btn-primary-bg: var(--analyzer-primary-color);
  --analyzer-contextual-filter-btn-primary-bg-hover: var(--analyzer-primary-color-active);
  --analyzer-contextual-filter-btn-secondary-bg: var(--analyzer-secondary-color);
}
